@font-face {
    font-family: norwester;
    src: url(norwester.otf);
}

@font-face {
    font-family: Alatsi;
    src: url(Alatsi-Regular.ttf);
}

h1 {
    font-size: 80px;
}

body {
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(45,63,253,1) 100%);
    font-size: 30px;
    font-family: norwester;
    text-align: center;
}

.level {
    text-align: center;
    font-size: 30px;
    font-family: norwester;
}

.btn { 
    margin: auto;
    margin-bottom: 0.8em;
    width: 400px;
    height: 65px;
    font-size: 45px;
    color: white;
    text-align: center;
    font-family: Alatsi;
    border-radius: 40px;
}

.easy {
    background: rgb(227,254,0);
    background: linear-gradient(170deg, rgba(227,254,0,0.9444152661064426) 0%, rgba(13,182,0,1) 0%);
}

.hard {
    background: rgb(227,254,0);
    background: linear-gradient(170deg, rgba(227,254,0,0.9444152661064426) 0%, rgba(251,139,0,1) 0%);
}

.infinity {
    background: rgb(99,7,7);
    background: linear-gradient(170deg, rgba(99,7,7,0.9444152661064426) 0%, rgba(201,20,20,1) 0%);
}

.deck {
    background: rgb(227,254,0);
    background: linear-gradient(170deg, rgba(227,254,0,0.9444152661064426) 0%, rgba(0,129,255,1) 0%);
}

.play {
    background: rgb(227,254,0);
    background: linear-gradient(170deg, rgba(227,254,0,0.9444152661064426) 0%, rgba(0,0,0,1) 0%);
}

div > a {
    text-decoration: none;
    color: #e3e3e3;
    vertical-align: middle;
}

.cadreNiveau:hover {
    width: 450px;
    background: #7ac9ff;
}

.deck:active {
    background: #7ac9ff;
}

#popOver {
    position: absolute;
    width: 1500px;
    height: 495px;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: grey;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#popOver img {
    padding: 2%;

} 
div.a {
    width: 50px;
    height:50px;
    position:fixed;
    left : 1782px;
    top : 694px;
    opacity: 0.75;
    z-index : -1;
    }
    
div.b {
    width: 50px;
    height:50px;
    position:fixed;
    left : 684px;
    top : 478px;
    opacity: 0.75;
    z-index : -1;
    }

div.c {
    width: 50px;
    height:50px;
    position:fixed;
    left : 441px;
    top : 394px;
    opacity: 0.75;
    z-index : -1;
    }

div.d {
    width: 50px;
    height:50px;
    position:fixed;
    left : 1800px;
    top : 258px;
    opacity: 0.75;
    z-index : -1;
    }

div.e {
    width: 50px;
    height:50px;
    position:fixed;
    left : 90px;
    top : 25px;
    opacity: 0.75;
    z-index : -1;
    }

div.f {
    width: 50px;
    height:50px;
    position:fixed;
    left : 1553px;
    top : 100px;
    opacity: 0.75;
    z-index : -1;
    }

div.g {
    width: 50px;
    height:50px;
    position:fixed;
    left : 90px;
    top : 900px;
    opacity: 0.75;
    z-index : -1;
    }

div.h {
    width: 50px;
    height:50px;
    position:fixed;
    left : 0px;
    top : 20px;
    opacity: 0.75;
    z-index : -1;
    }

div.i {
    width: 50px;
    height:50px;
    position:fixed;
    left : 990px;
    top : 200px;
    opacity: 0.75;
    z-index : -1;
    }

div.j {
    width: 50px;
    height:50px;
    position:fixed;
    left : 99px;
    top : 200px;
    opacity: 0.75;
    z-index : -1;
    }

div.k {
    width: 50px;
    height:50px;
    position:fixed;
    left : 1430px;
    top : 369px;
    opacity: 0.75;
    z-index : -1;
    }
    
div.l {
    width: 50px;
    height:50px;
    position:fixed;
    left : 150px;
    top : 344px;
    opacity: 0.75;
    z-index : -1;
    }
    
div.m {
    width: 50px;
    height:50px;
    position:fixed;
    left : 1237px;
    top : 541px;
    opacity: 0.75;
    z-index : -1;
    }





